:root {
  --accent-color: rgb(74, 14, 238);
  --acent-color-claro: #ee613033;
  --acent-texto: black;
}

a {
  text-decoration: none;
  color: var(--acent-texto);
}
a:hover:not(#cart:hover) {
  color: var(--accent-color);
}
body {
  background-color: yellow;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.104);
  background-color: rgb(223, 51, 51);
  padding: 10px 0;
  margin-bottom: 10px;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}
header nav div {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
#cuenta-carrito {
  background-color: var(--accent-color);
  border-radius: 100%;
  display: inline-block;
  width: 20px;
  line-height: 20px;
  aspect-ratio: 1;
  text-align: center;
  position: absolute;
}
#Logo {
  height: 40px;
}
header nav img {
  height: 25px;
}
footer {
  margin-top: auto;
  text-align: center;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.104);
  padding: auto;
  background-color: aqua;
}
h3,
p {
  margin: 6px 0;
}
button {
  background-color: var(--accent-color);
  color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.escondido {
  display: none;
}
